/* Body */
body {
  background-color: #14121d;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffff;
}
/* Titulo */
.selec_h1 {
  padding-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
}
/* Barra de menu */
ul {
  list-style: none;
  background-color: #a81424;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
li a:hover {
  background-color: #62030c;
}
/* Logo */
.esquina {
  float: right;
}
/* Boton */
.boton{
  margin-top: 2em;
}
button {
  background-color: #a81424;
  color: #fffbfb;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  margin: 1em;
  margin-left: 4.5em;
}
button:hover {
  background-color: #817a7a;
}
/* Tabla */
table {
  border-collapse: collapse;  
  width: 90%;
  margin: 3em auto;
  margin-bottom: 1em;
}
th, td {
  border: 1px solid;
  padding: 3px;
  text-align: center;
  
}
.subtotal {
  font-weight: bold;
}
/* Selector */
.select-css {
  display: block;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  color: #fdfcff;
  line-height: 1.3;
  padding: .4em 1.4em .3em .8em;
  width: 200px;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 1em;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
  border-radius: .3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #14121d;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #14121d 0%,#14121d 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
 }
 .select-css::-ms-expand {
  display: none;
 }
 .select-css:hover {
  border-color: #fdfdfd;
 }
 .select-css:focus {
  border-color: #fdfdfd;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #f8f4f4; 
  outline: none;
 }
 .select-css option {
  font-weight:normal;
 }
 .container-select {
  margin-left: 4em;
  display: flex;
  align-items: center;
  flex: 1;
}
/* Selector Fecha */
.custom-datepicker {
  align-items: center;
  padding: 1em;
  color: #fdfcff;
  width: 110px;
  display: flex;
  align-items: center;
  flex: 1;
}
.custom-datepicker input[type="date"] {
  width: 100%;
  border: none;
  margin-right: 1em;
  margin-left: 1em;
}
/* Columnas */
.column{
  display: flex; 
  justify-content:left;
  width: 68em;
  flex: 1;
}
/* Total */
.total{
  text-align: right;
  margin-top: 3em;
  flex: 1;
  font-weight: bolder;
  font-size: larger;
  margin-left: 15em;
}
/* Costo */
.container-cost{
  display: flex;
  align-items: right;
  flex: 1;
  margin-left: 52em;
  margin-top: 0;
  
}
.costo{
  margin-right: 1em;
}
input{
  width: 5.5em;
  height: 1em;
}
/* Empleado Seleccionado */
#empleadoSeleccionado{
  margin-top: .70em;
  text-align: justify;
  margin-left: 0;
  flex: 1;
}
p{
  margin: 0;
  padding: 0;
}

/* Menu desplegable lateral */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #a81424;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #ffff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #14121d;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 30px;
}
.open {
  width: 180px;
}
.user{
  margin: auto;
  height: 50%;
  margin-left: 0;
}